@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Berkshire+Swash&family=Roboto&display=swap');

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  @media screen and (max-width: 768px) {
    header {
      font-size: 30px;
      padding: 5px 10px;
      margin-bottom: 1rem;
    }

  }

  #gameTitle {
    font-size: .8rem; 
    position: absolute;
    top: 10px; 
    left: 2rem; 
    padding-bottom: 4rem;
    margin-bottom: 2rem;
  }

  #gameTitle strong {
    font-size: 2rem; 
  }
  
  header strong {
    font-size: 30px;
    text-transform: uppercase;
    padding: .5rem;
  }

  header {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: #167544;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    letter-spacing: 8px;
    display: block;
    margin-top: 20px;
  }

.playChoice {
  font-family: 'Berkshire Swash', cursive;
  color: #167544;
  border: none;
  font-weight: bold;
  font-size: 30px;
  background-color: #FDF9B4;
  padding: 1rem;
  border: 2px solid #F9C374;
  border-radius: 1rem;
  color: #F9C374;
  margin-top: 1rem;

}


  #catChoice img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: contain;
  border-color: #167544;
  padding: 40px; 
}

#catChoice legend {
   background-color: #FDF9B4;
  padding: 1rem;
  border: 2px solid #F9C374;
  border-radius: 1rem;
  color: #F9C374;
   
}

#index-page #gameboard {
  grid-gap: 1px;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;

}

#gameboard {
  display: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5rem;
  height: 100vh;
  margin: 0;
}



#catChoiceLabel {
  font-family: 'Alice', serif;
  color: #167544;
  border: none;
  font-weight: bold;
  font-size: 30px;
  background-color: #FDF9B4;
  padding: 1rem;
  border: 2px solid #F9C374;
  border-radius: 1rem;
  color: #F9C374;
  @media screen and (max-width: 768px) {
    font-size: 20px;
    width: 80%;
    margin-top: 2rem;
  }
}

#catChoice-items {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}


   #catChoice {
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
    font-family: 'Alice', serif;
    color: #167544;
    border: none;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
  
  } 



  /*#catChoice a {
    display: flex;
    background-color: #167544;
    border-color: #D1F3C8;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    width: 60px;
    height: 40px;
    margin-top: 50px;
    letter-spacing: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: static;
  
  } */

  a[href="gameStart.html"] {
  display: inline-block;
  background-color: #167544;
  border-color: #D1F3C8;
  color: #FDF9B4;
  padding: 10px 20px;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  margin-top: 20px;
  letter-spacing: 2px;
  text-align: center;
  margin: 1rem;
  margin-right: 4rem;
  text-decoration: none;
  font-family: 'Berkshire Swash', cursive;

} 

.houseStuff {
  margin-top: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  height: 20rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
  background-color: #D1F3C8;
  background-size: contain;
  background-position: center center;
} 

.houseStuff:active {
  transform: scale(1.1);
  cursor: pointer;
}

#gameboard .objectInteractions label{
  background-color: #D1F3C8;
  font-family: 'Alice', serif;
  color: #167544;
  font-size: 1rem;
  margin-top: 5rem;
  padding: 2rem;
  margin: 1rem;
  border: solid 1rem;
  align-items: center;
  letter-spacing: 2px;
  display: inline-block;
  width: 20rem;
  height: 4rem;
  cursor: pointer;
  left: 40%;

}
@media only screen and (max-width: 600px) {
  #gameboard .objectInteractions label {
    font-size: 0.6rem;
    padding: 2rem;
    margin: .1rem;
    border: solid 0.3rem;
    height: 2rem;
    width: fit-content;
    display: block;
    
  }
}


#gameboard .objectInteractions label:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: palevioletred;
}
#gameboard .objectInteractions:checked {
  transform: scale(1.2);
  cursor: pointer;
  color: palevioletred;
}



.anotherNext {
  background-color: #F9C374;
  color: palevioletred;
  display: inline-block;
  position: fixed;
  padding: 10px 20px;
  border-radius: 5px;
  width: 6rem;
  height: 4rem;
  letter-spacing: 2px;
  text-align: center;
  margin: 1rem;
  margin-right: 4rem;
  text-decoration: none;
  font-family: 'Berkshire Swash', cursive;
  margin-top: 30px;
  bottom: 0;
  left: 85%;

}

@media (max-width: 768px) {
  .anotherNext {
    width: 6rem;
    height: 3rem;
    margin-right: 2rem;
    margin-top: 10px;
    font-size: 0.8rem;
    left: 70%;
    display: block;
    margin-top: 2rem;
  }
}

.anotherNext:hover {
  transform: scale(1.2);
  cursor: pointer;

}


#gameboard label {
  margin-top: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  height: 20rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
  background-color: #D1F3C8;
  background-size: contain;
  background-position: center center;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
} 



#gameboard input[type=radio]:checked + label {
  background-color: none;
}



body {
   background-color: #FFE2E5;
}

.objectInteractions {
  display: inline-block;
  text-align: center;
  justify-content: center;
  position: center;
  align-items: center;
  display: center;
  margin: .5rem;

  
}

.objectInteractions input:hover {
  transform: scale(1.1);
}

#gameboard .objectInteractions input:checked {
    background-color: #FEBDC6;
    transform: scale(1.1);
    
}


.objectInteractions input {
  width: 2rem;
  height: 2rem;
  opacity:0;
  margin-top: 1rem;
  left: 50%;
}



.startGameObjects.items #gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;

}

#pipTitle {
  display: block;
  font-family: 'Berkshire Swash', cursive;
  font-weight: bold;
  font-size: 30px;
  background-color: #FDF9B4;
  padding: 1rem;
  border: 2px solid #F9C374;
  border-radius: 1rem;
  color: #F9C374;
  margin: auto;
  width: 30rem;
  position: center;
  align-items: center;
  left: 50%;
  right: 0;
  margin-top: 4rem;
  @media screen and (max-width: 768px) {
    font-size: 20px;
    width: 80%;
    margin-top: 2rem;
  }
}

#ivyTitle {
  display: block;
  font-family: 'Berkshire Swash', cursive;
  font-weight: bold;
  font-size: 30px;
  background-color: #FDF9B4;
  padding: 1rem;
  border: 2px solid #F9C374;
  border-radius: 1rem;
  color: #F9C374;
  margin: auto;
  width: 30rem;
  position: center;
  align-items: center;
  left: 50%;
  right: 0;
  margin-top: 4rem;
  @media screen and (max-width: 768px) {
    font-size: 20px;
    width: 80%;
    margin-top: 2rem;
  }
}


#editTitle {
  display: block;
  font-family: 'Berkshire Swash', cursive;
  font-weight: bold;
  font-size: 30px;
  background-color: #FDF9B4;
  padding: 1rem;
  border: 2px solid #F9C374;
  border-radius: 1rem;
  color: #F9C374;
  margin: auto;
  width: 30rem;
  position: center;
  align-items: center;
  left: 50%;
  right: 0;
  margin-top: 4rem;
  @media screen and (max-width: 768px) {
    font-size: 20px;
    width: 80%;
    margin-top: 2rem;
  }
}




.couch {
  background-image: url('../images/pipivycouch.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 /* position: contain
  object-fit: cover;
  display: inline; */
}
.couch::after {
  content: "couch"; 
  text-align: relative;
  background-color: #FDF9B4;
    color: #167544; 
  font-size: 16px; 
  font-family: 'Alice', serif;
  padding: .4rem;
  border: solid #167544;
  border-radius: 30px;
  top: 20px;
  float: left;
  margin: 5px;
  margin-right: -4rem;
  margin-top: 17rem;
}

.couch input {
  width: 10rem;
  height: 20rem;
  opacity:0;
}

.couch:hover{
background-color: #FEBDC6;
transform: scale(1.1);
}


  
  .bed {
     background-image: url('../images/pipIvyBed.svg');
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
  }

  .bed::after {
    content: "bed"; 
    text-align: relative;
    background-color: #FDF9B4;
    color: #167544; 
    font-size: 16px; 
    font-family: 'Alice', serif;
    padding: .4rem;
    border: solid #167544;
    border-radius: 30px;
    top: 20px;
    float: left;
    margin: 5px;
    margin-right: -4rem;
    margin-top: 17rem;
  }
  .bed input {
    width: 10rem;
    height: 20rem;
    opacity:0;
  }

  .bed:hover{
    background-color: #FEBDC6;
    transform: scale(1.1);
    }

   


  .plants {
    background-image: url('../images/pipIvyplants.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .plants::after {
    content: "plants"; 
    text-align: relative;
    background-color: #FDF9B4;
    color: #167544; 
    font-size: 16px; 
    font-family: 'Alice', serif;
    padding: .4rem;
    border: solid #167544;
    border-radius: 30px;
    top: 20px;
    float: left;
    margin: 5px;
    margin-right: -4rem;
    margin-top: 17rem;
  }

  .plants input {
    width: 10rem;
    height: 20rem;
    opacity:0;
  }

  .plants:hover{
    background-color: #FEBDC6;
    transform: scale(1.1);
    }

  .counter{
    background-image: url('../images/pipIvyCounter.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }


  .counter::after {
    content: "counter"; 
    text-align: relative;
    background-color: #FDF9B4;
    color: #167544; 
    font-size: 16px; 
    font-family: 'Alice', serif;
    padding: .4rem;
    border: solid #167544;
    border-radius: 30px;
    top: 20px;
    float: left;
    margin: 5px;
    margin-right: -4rem;
    margin-top: 17rem;
  }

  .counter input {
    width: 10rem;
    height: 20rem;
    opacity:0;
  }

  .counter:hover{
    background-color: #FEBDC6;
    transform: scale(1.1);
    }

  .window{
    background-image: url('../images/windowpipivy.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .window::after {
    content: "window"; 
    text-align: relative;
    background-color: #FDF9B4;
    color: #167544;  
    font-size: 16px; 
    font-family: 'Alice', serif;
    padding: .4rem;
    border: solid #167544;
    border-radius: 30px;
    top: 20px;
    float: left;
    margin: 5px;
    margin-right: -4.5rem;
    margin-top: 17rem;
  }

  .window input {
    width: 10rem;
    height: 20rem;
    opacity:0;
  }

  .window:hover{
    background-color: #FEBDC6;
    transform: scale(1.1);
    }

  .waterBowl{
    background-image: url('../images/waterbowl.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .waterBowl::after {
    content: "water bowl"; 
    text-align: relative;
    background-color: #FDF9B4;
    color: #167544; 
    font-size: 16px; 
    font-family: 'Alice', serif;
    padding: .4rem;
    border: solid #167544;
    border-radius: 30px;
    top: 20px;
    float: left;
    margin: 5px;
    margin-right: -8rem;
    margin-top: 17rem;
  }

  .waterBowl input {
    width: 10rem;
    height: 20rem;
    opacity:0;
  }

  .waterBowl:hover{
    background-color: #FEBDC6;
    transform: scale(1.1);
    cursor: pointer;
    }

  .foodBowl{
    background-image: url('../images/foodbowl.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .foodBowl::after {
    content: "food bowl"; 
    text-align: relative;
    background-color: #FDF9B4;
    color: #167544; 
    font-size: 16px; 
    font-family: 'Alice', serif;
    padding: .4rem;
    border: solid #167544;
    border-radius: 30px;
    top: 20px;
    float: left;
    margin: 5px;
    margin-right: -7rem;
    margin-top: 17rem;
  }


  .foodBowl input {
    width: 10rem;
    height: 20rem;
    opacity:0;
  }

  .foodBowl:hover{
    background-color: #FEBDC6;
    transform: scale(1.1);
    cursor: pointer;
    }


  .beanBag{
    background-image: url('../images/beanBag.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
  }


  .beanBag::after {
    content: "bean bag"; 
    text-align: relative;
    background-color: #FDF9B4;
    color: #167544; 
    font-size: 16px; 
    font-family: 'Alice', serif;
    padding: .4rem;
    border: solid #167544;
    border-radius: 30px;
    top: 20px;
    float: left;
    margin: 5px;
    margin-right: -5rem;
    margin-top: 17rem;
  }

  .beanBag input {
    width: 10rem;
    height: 20rem;
    opacity:0;
  }
.beanBag:hover{
background-color: #FEBDC6;
transform: scale(1.1);
cursor: pointer;
}
  .litterBox{
    background-image: url('../images/litterbox1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .litterBox::after {
    content: "litter box"; 
    text-align: relative;
    background-color: #FDF9B4;
    color: #167544; 
    font-size: 16px; 
    font-family: 'Alice', serif;
    padding: .4rem;
    border: solid #167544;
    border-radius: 30px;
    top: 20px;
    float: left;
    margin: 5px;
    margin-right: -5rem;
    margin-top: 17rem;
  }

  .litterBox input {
    width: 10rem;
    height: 20rem;
    opacity:0;
  }

  .litterBox:hover{
    background-color: #FEBDC6;
    transform: scale(1.1);
    cursor: pointer;
    }

  .closet{
    background-image: url('../images/closet.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .closet input {
    width: 10rem;
    height: 20rem;
    opacity:0;
  }

  .closet::after {
    content: "closet"; 
    text-align: relative;
    background-color: #FDF9B4;
    color: #167544; 
    font-size: 16px; 
    font-family: 'Alice', serif;
    padding: .4rem;
    border: solid #167544;
    border-radius: 30px;
    top: 20px;
    float: left;
    margin: 5px;
    margin-right: -4rem;
    margin-top: 17rem;
  }

  .closet:hover{
    background-color: #FEBDC6;
    transform: scale(1.1);
    cursor: pointer;
    }

  .bathroomDoor{
    background-image: url('../images/bathroomdoor.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  } 

  .bathroomDoor::after {
    content: "bathroom door"; 
    text-align: relative;
    background-color: #FDF9B4;
    color: #167544; 
    font-size: 16px; 
    font: bolder;
    font-family: 'Alice', serif;
    padding: .4rem;
    border: solid #167544;
    border-radius: 30px;
    top: 20px;
    float: left;
    margin: 5px;
    margin-right: -8rem;
    margin-top: 17rem;
  }
  .bathroomDoor input {
    width: 10rem;
    height: 20rem;
    opacity:0;
  }
  
  .bathroomDoor:hover{
    background-color: #FEBDC6;
    transform: scale(1.1);
    
    
    }
  